
<h4>Sellers</h4>
<%@sellers&.each do |user|%>
    <a href="<%=user_path(user.id)%>"><%= user.email%></a>
<%end%>

<h4>Buyers</h4>
<%@buyers&.each do |user|%>
    <a href="<%=user_path(user.id)%>"><%= user.email%></a>
<%end%>